<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Edit User</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/iconfonts/ionicons/dist/css/ionicons.css">
  <link rel="stylesheet" href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="/assets/vendors/icheck/skins/all.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="/assets/css/shared/style.css">
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="/assets/css/demo_1/style.css">
  <!-- End Layout styles -->
  <link rel="shortcut icon" href="/assets/images/favicon.ico" />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <%- include('partials/_navbar') %>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <%- include('partials/_sidebar') %>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <p class="card-title" style="font-size: 25px;"><b>Edit user</b></p>
                      <form class="forms-sample" method="post" action="/users/<%= edituser.user_id %>"
                        enctype="multipart/form-data">
                        <div class="form-group">
                          <label for="exampleInputName1">Name</label>
                          <div style="display: flex;">
                            <input type="text" class="form-control" id="txtfname" name="first_name"
                              placeholder="First Name" style="width: 50%;" value="<%= edituser.first_name %>">
                            <input type="text" class="form-control" id="txtlname" name="last_name"
                              placeholder="Last Name" style="width: 50%;" value="<%= edituser.last_name %>">
                          </div>
                          <span id="nameError" style="color: red;font-size: small;"></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail3">Email address</label>
                          <input type="email" class="form-control" id="txtemail" placeholder="Email" name="email"
                            value="<%= edituser.email %>">
                          <span id="emailError" style="color: red;font-size: small;"></span>
                        </div>
                        <div class="form-group">
                          <label for="exampleInputName1">Mobile No.</label>
                          <input type="text" class="form-control" id="txtmobile" placeholder="Mobile No."
                            name="mobile_no" value="<%= edituser.mobile_no %>" maxlength="10">
                          <span id="mobileError" style="color: red;font-size: small;"></span>
                        </div> 
                        <div class="form-group">
                          <label for="exampleInputName1">Photo</label>
                          <div class="mb-2" style="text-align: center;display:flex;">
                            <input type="file" class="form-control" id="formFile" name="photo" style="line-height: 24px;padding: 0px 0px;width: 100%;">
                          </div>

                          <img class="img-md" src="/images/<%= edituser.photo %>"
                            alt="Profile image" style="height: 80px; width: 80px;" id="imgphoto">
                        </div>
                        <div class="form-group">
                          <div class="form-check form-check-flat mt-0">
                            <label class="form-check-label">
                              <input type="checkbox" class="form-check-input" id="chkverified" name="is_verified" <%  if(edituser.is_verified) { %> checked <% } %> > Verified
                            </label>
                          </div>
                        </div>
                        <div class="form-group">
                          <span id="error" style="color: red;font-size: medi;">
                            <% if (typeof error !="undefined" && error !="" ) { %><%= error %> <% } %>
                          </span>
                        </div>
                        <button type="submit" class="btn btn-success mr-2" id="btnSubmit">Submit</button>
                        <button class="btn btn-light">Cancel</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <%- include('partials/_footer') %>
              <!-- partial -->
          </div>
          <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
  </div>

  <script src="/assets/scripts/edit-user.js"></script>
  <!-- <script>
    let flag = 0;
    const fnameInput = document.getElementById('txtfname');
    const lnameInput = document.getElementById('txtlname');
    const mobileInput = document.getElementById('txtmobile');
    const emailInput = document.getElementById('txtemail');
    const verifyInput = document.querySelector('#chkverified');
    const filename = document.getElementById('txtfile');
    const photofile = document.getElementById('photofile');

    const fileInput = document.getElementById('formFile');

    document.getElementById('imgphoto').addEventListener('click', function () {
      fileInput.click();
    });

    fileInput.addEventListener('change', (event) => {
            const file = event.target.files[0];
            if (file) {
              flag = 1;
                // Create a URL for the selected file and set it as the image source
                const imageURL = URL.createObjectURL(file);
                const imgtag = document.getElementById('imgphoto');
                imgtag.src = imageURL;
            }
        });

    function validateForm() {
      // console.log(document.querySelector('#chkverified').checked);
      // const chkterms = document.getElementById('chkterms');
      // const passwordInput = document.getElementById('txtPassword');
      // const confirmPasswordInput = document.getElementById('txtConfirmPassword');
      const mobilePattern = /^\d{1,10}$/;
      const namePattern = /^[a-zA-Z]+$/;
      const emailPattern = /^[^\s@]+@[^\s@]+[^.]\.[^.][^\s@]+$/;
      // const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$/;
      console.log(flag);
      if(flag == 0) {
        fileInput.removeAttribute('name');
      }

      if (!fnameInput.value) {
        event.preventDefault();
        nameError.textContent = 'First name is required.';
      } else if (!namePattern.test(fnameInput.value)) {
        event.preventDefault();
        nameError.textContent = 'First name is invalid.';
      } else if (!lnameInput.value) {
        event.preventDefault();
        nameError.textContent = 'Last name is required.';
      } else if (!namePattern.test(lnameInput.value)) {
        event.preventDefault();
        nameError.textContent = 'Last name is invalid.';
      } else {
        nameError.textContent = '';
      }

      if (!mobileInput.value) {
        event.preventDefault();
        mobileError.textContent = 'Mobile no. is required.';
      } else if (!mobilePattern.test(mobileInput.value)) {
        event.preventDefault();
        mobileError.textContent = 'Mobile no. is invalid.';
      } else {
        mobileError.textContent = '';
      }

      if (!emailInput.value) {
        event.preventDefault();
        emailError.textContent = 'Email is required.';
      } else if (!emailPattern.test(emailInput.value)) {
        event.preventDefault();
        emailError.textContent = 'Email is invalid.';
      } else {
        emailError.textContent = '';
      }
    }

    function submitForm() {
      console.log('submitted');
      validateForm();
      console.log('validated');

      const data = {
        first_name: fnameInput.value,
        last_name: lnameInput.value,
        email: emailInput.value,
        mobile_no: mobileInput.value,
        is_verified: verifyInput.checked
      };

      console.log('data: ', data);

      axios.put(`/users/<%= edituser.user_id %>`, data)
        .then(function (response) {
          console.log('API called', response);
          window.location.href = '/users';
        })
        .catch(function (error) {
          console.error('There was an error making the request:', error);
        });
    }

    document.getElementById('txtfname').addEventListener('change', validateForm);
    document.getElementById('txtlname').addEventListener('change', validateForm);
    document.getElementById('txtmobile').addEventListener('change', validateForm);
    document.getElementById('txtemail').addEventListener('change', validateForm);
    document.getElementById('chkverified').addEventListener('change', validateForm);

    document.getElementById('btnSubmit').addEventListener('click', validateForm);
    // document.getElementById('photofile').addEventListener('change', function () {
    //   filename.value = photofile.files[0].name
    //   // console.log('file changed!');
    //   console.log(photofile.files);
    // });

  </script> -->
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="/assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="/assets/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="/assets/js/shared/off-canvas.js"></script>
  <script src="/assets/js/shared/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="/assets/js/shared/jquery.cookie.js" type="text/javascript"></script>
  <!-- End custom js for this page-->
</body>

</html>